body {
	margin: 0 auto;
	padding: 0;
}


.container {
	overflow:scroll;
	margin: 0 auto;
	background:  linear-gradient(to right, rgb(5, 85, 136), rgb(243, 247, 251));
	width: 100%;
    height: 100vh;
}

.banner_2 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-heading {
	border-radius: 20px;
	height: 400px;
	width: 600px;
	object-fit: cover;
	margin-bottom: 80px;
    border-top: 7px solid #fff;
    border-bottom: 7px solid #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
}

.arrow {
    font-size: 50px;
    margin-bottom: 15px;
    animation: anim 3s infinite;
}

.banner-btn {
    width: 200px;
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: transparent;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    outline: none;
    cursor: pointer;
    transition: transform .3s;
}

.banner-btn:hover {
    transform: translateY(-1px);
}
@keyframes anim {
    0% {transform: translateY(0)}
    20% {transform: translateY(0)}
    40% {transform: translateY(-30px)}
    50% {transform: translateY(0)}
    60% {transform: translateY(-15px)}
    80% {transform: translateY(0)}
    100% {transform: translateY(0)}
}

.name-input, select {
	width: 400px;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    letter-spacing: 1px;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    margin-bottom: 20px;
    border-bottom: 2px solid white;
    padding: 10px 5px;
    transition: border-bottom-color .8s;
}

.name-input::placeholder {
	color: #fff;
}

.name-input:focus, select:focus {
    border-bottom-color: rgb(56, 125, 160);
}

select {
	margin-bottom:20px;
}

option {
	color: rgb(5, 85, 136);
}

 .banner {
 	height: 700px;
 	width: 700px;
 	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
    border-radius: 40px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
 }

 img {
 	height: 700px;
 	width: 700px;
 	border-radius: inherit;
 }

.name {
	position: absolute;
    z-index: 100;
	top: 526px;
    left: 324px;
	font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #869daa;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
    font-weight: 500;
    letter-spacing: 1px;
    white-space: pre-wrap;
}

.x-btn {
    position: absolute;
    bottom: -4%;
    right: 1%;
    font-size: 23px;
    font-weight: bold;
    color: #869daa;
    cursor: pointer;
}
 .entered-name::before {
	content: '';
	width: 3px;
	height: 40px;
	background-color:  #869daa;
	position: absolute;
	animation: blinking 1s 3s infinite;
}

@keyframes blinking {
	0% {background-color:  #869daa}
	50% {background-color: transparent}
	100% {background-color:  #869daa}
}

@media(max-width: 1260px) {
	.container {
		position: fixed;
	}
	.banner-heading {
		height: 300px;
		width: 600px;
	}
	.banner, img {
		height: 650px;
		width: 650px;
	}

	.name {
		 left: 290px;
    top: 481px;
	}

	 .entered-name::before {
		content: '';
		width: 3px;
		height: 30px;
	}
}

@media (max-width: 1160px) {
	.name {
		top: 480px;
		left: 285px;
	}
}
 
 @media (max-width: 700px) {
 	.banner-heading {
		height: 310px;
		width: 400px;
	}
 }

 @media (max-width: 500px) {
 		.banner-heading {
		height: 310px;
		width: 350px;
	}

	.name-input, select {
	width: 330px;
	}

	.banner, img {
		height: 400px;
		width: 400px;
	}

	.name {
    	font-size: 15px;
    	left: 206px;
    	top: 310px;
	}

	 .entered-name::before {
		width: 3px;
		height: 20px;
	}

 }


 @media (max-width: 370px) {
    .banner-heading {
        height: 260px;
        width: 280px;
        margin-bottom: 20px;
    }

    .arrow {
    font-size: 35px;
    margin-bottom: 10px;
    }

    .name-input, select {
    width: 270px;
    margin-bottom: 15px;
	    font-size:20px;
    }

    .banner, img {
        height: 360px;
        width: 360px;
    }
    .name {
        left: 134px;
        top: 291px;
    }

    .banner-btn {
    width: 150px;
    }
 }

@media (max-width: 300px) {
	 .name {
        left: 120px;
        top: 270px;
    }
}
	 
